{%extends "base.html"%}
{%block title%}SUJAL|CONTACT{%endblock%}
{%block content%}
<center><h1>WELCOME TO CONTACT PAGE</h1></center>
<table class="table">
    <thead>
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">GENDER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>23</td>
        <td>M</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>24</td>
        <td>M</td>
      </tr>
     
    </tbody>
  </table>
{%endblock%}